# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List popular languages for Data Science
- List popular libraries for Data Science
- Creat a table

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Keras

|Data Science Tools|
---------------------
|Jupyter Notebook|
|Rstudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [13]:
# This a simple arithmetic expression to muliply then add integers
(3*4)+5

17

In [15]:
#  This will convert 200 minutes to hours by diving by 60
200//60

3

## Author 
Neda